body {
	font-family: Arial, sans-serif;
	background-image: url('images/bgLight.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #000000;
	margin: 0;

	transition: background-color 0.8s, color 0.8s, background-image 0.8s;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 4px solid #9d4edd; /*purple*/
	border-radius: 50%;
	box-shadow: 0 0 24px 8px rgba(157, 78, 221, 0.8);
	transition: border-color 0.8s, box-shadow 0.8s;
	animation: breatheGlowLight 3s ease-in-out infinite;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

#theme-toggle {
	padding: 10px 20px;
  	margin-top: 10px;
  	cursor: pointer;
  	background-color: #9d4edd; /*purple*/
  	color: white;
  	border: none;
  	border-radius: 5px;
  	transition: background-color 0.8s, color 0.8s;
}

body.dark {
	background-color: #121212;
	color: #f5f5f5;
	background-image: url('images/bgDark.png');
}

body.dark #profile-img {
	border-color: #fae588; /*yellow*/
	box-shadow: 0 0 24px 8px rgba(250, 239, 156, 0.8);
	animation: breatheGlowDark 3s ease-in-out infinite;
}

body.dark #theme-toggle {
	background-color: #fae588; /*yellow*/
	color: black;
}

section {
  margin: 40px auto;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.1); /* light transparent background */
  padding: 20px;
  color: #111;
  border-radius: 10px;
}

section h2 {
  text-align: center;
  margin-bottom: 15px;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@keyframes breatheGlowLight {
	0%, 100% {
		box-shadow: 0 0 24px 8px rgba(157, 78, 221, 0.6);
	}
	50% {
		box-shadow: 0 0 24px 8px rgba(157, 78, 221, 1);
	}
}

@keyframes breatheGlowDark {
	0%, 100% {
		box-shadow: 0 0 24px 8px rgba(250, 239, 156, 0.6);
	}
	50% {
		box-shadow: 0 0 24px 8px rgba(250, 239, 156, 1);
	}
}
