 body {
	font-family: Arial, sans-serif;
	background-image: url('images/bgLight.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #000000;
	margin: 0;

	transition: background-color 0.8s, color 0.8s, background-image 0.8s;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 4px solid #9d4edd; /*purple*/
	border-radius: 50%;
	 
	transition: border-color 0.8s, box-shadow 0.8s;
	animation: breatheGlowLight 6s ease-in-out infinite;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

#theme-toggle { /*Light Mode Button*/
	padding: 10px 20px;
  	margin-top: 10px;
  	cursor: pointer;
  	background-color: #9d4edd; /*purple*/
  	color: white;
	border: 5px double #6c757d; /*gray*/
  	border-radius: 5px;
  	transition: background-color 0.8s, color 0.8s;
}

body.dark {
	background-color: #121212;
	color: #f5f5f5;
	background-image: url('images/bgDark.png');
}

body.dark #profile-img {
	border-color: #fae588; /*yellow*/
	box-shadow: 0 0 24px 8px rgba(250, 239, 156, 0.3);
	animation: breatheGlowDark 6s ease-in-out infinite;
}

body.dark #theme-toggle { /*Dark Mode Button*/
	background-color: #fae588; /*yellow*/
	border: 5px double #344e41; /*green*/
	color: black;
}

body.dark section {
	background-color: rgba(52, 78, 65, 0.3); /*green*/
	color: #fae588;
}

body.dark section h2 {
	color: #fae588;
}

section {
  margin: 40px auto;
  max-width: 80%;
  color: #9d4edd; /*purple*/
  background: rgba(108, 117, 125, 0.3); /*gray*/
  padding: 20px;
  border-radius: 10px;
  transition: background 0.8s, color 0.8s;
}

section h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #9d4edd;
  transition: color 0.8s;
}

ul {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	gap: 80px;
	padding: 0;
}

li {
    list-style-type: none;
    margin-bottom: 33px;
}

li label {
    display: block;
}

li img {
    width: 100%;
	max-width: 500px;
	height: auto;
}

@keyframes breatheGlowLight {
	0%, 100% {
		box-shadow: 0 0 24px 8px rgba(157, 78, 221, 0.3);
	}
	50% {
		box-shadow: 0 0 24px 8px rgba(157, 78, 221, 1);
	}
}

@keyframes breatheGlowDark {
	0%, 100% {
		box-shadow: 0 0 24px 8px rgba(250, 239, 156, 0.3);
	}
	50% {
		box-shadow: 0 0 24px 8px rgba(250, 239, 156, 1);
	}
}
