body {
	font-family: Arial, sans-serif;
	background-image: url('images/bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #f5f5f5;
	margin: 0;

	transition: background-image 0.3s, color 0.3s;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 10px solid #9a0101;
	border-radius: 50%;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.3)
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}

section {
  margin: 40px auto;
  max-width: 800px;
  background: rgba(255, 255, 255, 0.1); /* light transparent background */
  padding: 20px;
  border-radius: 10px;
}

section h2 {
  text-align: center;
  margin-bottom: 15px;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
