body {
	font-family: Arial, sans-serif;
	background-color: #515151;
	color: #333;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border: 10px solid #9a0101;
	border-radius: 50%;
	box-shadow: 0 0 16px rgba(0, 0, 0)
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #121212;
	color: #f5f5f5;
}
